@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);


.about_container{
    justify-content: center;
 
}



.about_container h1{
    text-align: center;
    font-size: 6rem;
    font-family: fantasy;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    text-shadow: 5px 5px  black;
    border: 5px solid black;
    color: white;
    border-radius: 25%;
    margin-top: 10%;
    width: 50%;
    margin-left: 25%;
    
}

.intro{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding-top: 20px;

}

.box{
    align-items: center;
    width: 100%;
}

.box img{
    width: 300px;
    height: 300px;
}


@media (max-width:800px) {
    .intro{
        display: block;
        margin: 20px;
    }

    .box{
        padding: 10px;
    }
    
}